@model WebKhoaHocUngDung.Models.NHANVIEN
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>NHANVIEN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HoTenNV)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoTenNV)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phai)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phai)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SDTNV)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SDTNV)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiacChi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiacChi)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaNV }) |
    @Html.ActionLink("Back to List", "Index")
</p>