@model IEnumerable<WebKhoaHocUngDung.Models.NHANVIEN>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}
<div class="input-group">
    <input type="text" class="form-control bg-light border-1 small" placeholder="Nhập thông tin nhân viên muốn tìm kiếm?"
           aria-label="Search" aria-describedby="basic-addon2" style="border-color: #3f51b5;">
    <div class="input-group-append">
        <button class="btn btn-primary" type="button">
            <i class="fas fa-search fa-sm"></i>
        </button>
    </div>
</div>
<h2 style="color:blue">DANH SÁCH NHÂN VIÊN</h2>

<p class="m-0 float-md-none btn btn-success btn-sm">
    @Html.ActionLink("Thêm nhân viên", "Create")
</p>
<div class="col-xl-12 col-lg-7 mb-4">
    <table class="table align-items-center table-flush">
        <thead class="thead-light">
            <tr>
                <th>
                    Họ tên nhân viên
                </th>
                <th>
                    Ngày sinh
                </th>
                <th>
                    Giới tính
                </th>
                <th>
                    SĐTNV
                </th>
                <th>
                    Địa chỉ
                </th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HoTenNV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgaySinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SDTNV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiacChi)
                </td>
                <td>
                    <li class="btn btn-sm btn-dark">@Html.ActionLink("Edit", "Edit", new { id = item.MaNV }) </li><br />
                    <li class="btn btn-sm btn-danger">@Html.ActionLink("Delete", "Delete", new { id = item.MaNV })</li>
                </td>
            </tr>
        }
    </table>
</div>