@model WebKhoaHocUngDung.Models.LOPHOC

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LOPHOC</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HOCPHI.MaHP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOCPHI.MaHP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenLop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SiSo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiSo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaGV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaGV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayBD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayBD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayKT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayKT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayMoLop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayMoLop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaLop }) |
    @Html.ActionLink("Back to List", "Index")
</p>
