@model WebKhoaHocUngDung.Models.GIAOVIEN

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>GIAOVIEN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HoTenGV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTenGV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDTGV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDTGV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaGV }) |
    @Html.ActionLink("Back to List", "Index")
</p>
